@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 1px;
}

body {
  background: #040d20;
  font-family: 'Nunito Sans', system-ui;
}

.header {
  background: rgba(4, 13, 32, 0.7);
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
  z-index: 15;
  position: fixed;
  left: 0;
  right: 0;
  padding: 24px 0;
  border-bottom: 1px solid #8294b145;
}

header .header_logo, header .wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  max-width: 1136px;
  margin: 0 auto;
}

.logo {
  color: #fff;
  font-weight: bold;
  background: #89CDCF;
  background: linear-gradient(to right, #89CDCF 0%, #B0AECF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-size: 20px;
}

.intro-block {
  position: relative;
  padding-top: 60px;
}

.intro-block:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(../assets/img/Bgpic.png) no-repeat 50% 50% / cover;
  width: 100%;
  height: auto;
  z-index: -1;
  margin-top: 50px;
}

.first-screen {
  padding: 70px 0 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.first-screen-content {
  color: #fff;
  max-width: 720px;
}

.first-screen h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  color: #fff;
  margin-bottom: 5px;
}

.first-screen p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 20px;
}

.first-screen .first-screen-content .table-head_date {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background: -webkit-linear-gradient(180deg, #ffde91, #ffde91 0.01%, #ff8b49), -webkit-linear-gradient(0deg, #040d20, #040d20);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

@media (min-width: 576px) {
  .first-screen .first-screen-content .table-head_date {
      display: none;
  }
}

.table-head_left {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
}

.table-head_left p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  margin-right: 32px;
  margin-bottom: 0;
}


.table-head_legal:before {
  position: absolute;
  content: "";
  top: -2px;
  left: 0;
  width: 21px;
  height: 21px;
  background: url(../assets/icons/ShieldCheck.svg) no-repeat;
}

.table-head_flag:before {
  position: absolute;
  top: -2px;
  left: 0;
  content: "";
  width: 21px;
  height: 21px;
  background: url(../assets/icons/DeviceMobile.svg) no-repeat;
}

.table-head_secure:before {
  position: absolute;
  content: "";
  top: -2px;
  left: 0;
  width: 21px;
  height: 21px;
  background: url(../assets/icons/CurrencyCircleDollar.svg) no-repeat;
}

.table-head_bonus:before {
  position: absolute;
  content: "";
  top: -2px;
  left: 0;
  width: 21px;
  height: 21px;
  background: url(../assets/icons/CalendarBlank.svg) no-repeat;
}

.table-head_legal, .table-head_flag, .table-head_secure, .table-head_bonus {
  position: relative;
  padding-left: 25px;
}

.table-head_left .bonus-date {
  background: rgba(74, 92, 123, 0.15);
  border: 1px solid rgba(74, 92, 123, 0.4);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 1px 5px;
  font-weight: 400;
  font-size: 12px !important;
  line-height: 18px !important;
  color: #749bff !important;
}

.table-head {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 10px;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.table-head .table-left_right {
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.table-head .table-left_right p {
  font-weight: 300;
  font-size: 10px;
  line-height: 14px;
  color: hsla(0, 0%, 100%, 0.5);
  padding-left: 15px;
}

.table {
  margin-bottom: 40px;
}

.table_row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify !important;
  justify-content: space-evenly !important;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.table_row_title {
  background: rgba(130, 148, 177, 0.07);
  padding: 3px 0;
}

.table_col-number {
  width: 5%;
}

.table_row_title p {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  font-weight: 400;
  color: rgba(130, 148, 177, 0.8);
}

.table_col-site {
  width: 25%;
  padding: 15px;
}

.table_col-bonus {
  width: 19%;
  text-align: center;
  padding-right: 25px;
}

.table_col-rating {
  width: 20%;
  padding: 15px 35px 15px 15px;
  text-align: center;
}

.table_col-btn {
  width: 16%;
  padding: 15px 0;
}

.table_row_title .table_title {
  padding: 0;
}

.table_row_title+.table_row_bg.best-choice {
  margin-top: 10px;
}

.table .review_row {
  padding-top: 25px;
  position: relative;
  transition: all 0.4ms ease-in-out;
  border-bottom: 1px solid #8294b14a;
}

.table .review_row:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
}

.table_col_site_number {
  width: 5%;
}

.table_col_site_number span {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  color: rgba(130, 148, 177, 0.5);
}

.table_col-site_review {
  width: 25%;
  background: linear-gradient(90.81deg, rgba(130, 148, 177, 0), rgba(130, 148, 177, 0.12) 50.52%, rgba(130, 148, 177, 0)), rgba(130, 148, 177, 0.02);
  border-radius: 14px;
  border: 1px solid rgba(130, 148, 177, 0.5);
  cursor: pointer;
  padding: 25px 0;
}

#triangle_left {
  display: inline-block;
  width: 37px;
  height: 37px;
  position: absolute;
  top: -2px;
  left: -1px;
}

.best-choise {
  z-index: 10 !important;
  top: 2% !important;
  left: 8% !important;
  background-position: 50% 49% !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.number span {
  position: relative;
  font-size: 12px;
  line-height: 18px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #8294b1;
  padding: 0 5px;
}

.best-choise span {
  color: #040d20;
  line-height: 10px;
}

.best-choise .star-top {
  font-size: 10px;
  font-weight: 900;
}

.best-choise .star-bottom {
  font-size: 8px;
  font-weight: 900;
}

.table_col-site_logo {
  position: relative;
  height: 65px;
  width: 80%;
  margin: 0 auto;
}

.review-image_logo, .table_col-site_logo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}

.table .bonus_row {
  position: relative;
}

.table .bonus_row:before {
  position: absolute;
  content: "";
  top: -20%;
  right: 0;
  bottom: 0;
  height: 135%;
  width: 1px;
  background: linear-gradient(180deg, rgba(130, 148, 177, 0.04), rgba(130, 148, 177, 0.2) 50%, rgba(130, 148, 177, 0.04));
}

.table .review_row .table_col-bonus .bonus-title {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  font-weight: 300;
  color: #fff;
}

.table .review_row .table_col-bonus .bonus-title_center {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}

a {
  text-decoration: none;
}

.table .rating_row {
  position: relative;
}

.table_col-rating {
  width: 20%;
  padding: 15px 35px 15px 15px;
  text-align: center;
}

.table .rating_row:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg, rgba(130, 148, 177, 0.04), rgba(130, 148, 177, 0.2) 50%, rgba(130, 148, 177, 0.04));
}

.flex, .flex_alc {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.flex_alc {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.table .review_row .table_col-rating p.table-score__value {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  margin-bottom: 5px;
}

.jq-ry-container {
  position: relative;
  padding: 0 5px;
  line-height: 0;
  display: block;
  cursor: pointer;
  box-sizing: content-box;
  direction: ltr;
}

.rateyo {
  margin: 0 auto;
  margin-bottom: 5px;
}

.jq-ry-container>.jq-ry-group-wrapper {
  position: relative;
  width: 100%;
}

.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group {
  position: relative;
  line-height: 0;
  z-index: 10;
  white-space: nowrap;
}

.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group.jq-ry-rated-group {
  width: 0;
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group.jq-ry-normal-group {
  width: 100%;
}

.table .review_row .table_col-rating p {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #fff;
}

.table .review_row .table_col-btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.table_col-btn {
  width: 16%;
  padding: 15px 0;
}

.btn {
  display: block;
  margin: 0 auto;
  padding: 16px 36px 12px;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 11px;
  transition: all 0.4s;
  background: linear-gradient(90deg, #a1e6f6, #a3a1f6);
  box-shadow: 0 4px 10px rgba(13, 16, 21, 0.6);
  border-radius: 100px;
  letter-spacing: 0.01em;
  color: #00031e;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.table_col-btn .btn {
  width: 150px;
}

@media (min-width: 768px) {
  .table_col-btn .btn {
      margin: 0 auto 10px;
  }
}

.btn, p {
  font-weight: 600;
}

@media (min-width: 768px) {
  .table .review_row .table_col-btn .link {
      margin: 0 auto;
  }
}

.show {
  left: 0;
  opacity: 1;
}

.link {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #a1badc;
}

.block_tc {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  margin-left: 10%;
  color: rgba(130, 148, 177, 0.5);
}

.bonus-subtitle {
  font-weight: 300;
  font-size: 10px;
  line-height: 14px;
  color: rgba(130, 148, 177, 0.5) !important;
  margin: 5px 0;
  cursor: pointer;
}

.table .mob-description {
  display: none;
}


#triangle_left p {
  font-size: 10px;
  line-height: 14px;
  position: absolute;
  top: 94%;
  left: 84%;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  color: rgba(130, 148, 177, 0.5);
}

.faq-block {
  padding: 60px 0 50px;
  text-align: center;
}

.faq-block h2 {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  margin-bottom: 50px;
  color: #fff;
}

.faq-block_container {
  padding: 30px;
  max-width: 840px;
  margin: 0 auto;
  text-align: left;
  border: 1px solid rgba(130, 148, 177, 0.5);
  background: linear-gradient(90.81deg, rgba(130, 148, 177, 0), rgba(130, 148, 177, 0.12) 50.52%, rgba(130, 148, 177, 0)), rgba(130, 148, 177, 0.02);
  border-radius: 14px;
  margin-bottom: 30px;
}

.faq-block_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: #fff;
}

.faq-block_content {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.responsibly-block {
  position: relative;
  text-align: center;
  padding: 50px 0;
  padding-bottom: 132px;
}

.responsibly-block {
  padding-top: 0;
  padding-bottom: 50px;
}

.responsibly-block:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 300px;
  background: url(../assets/img/footer-pic.png) no-repeat 50% 50% / cover;
  z-index: -1;
}

.years18 {
  color: #FFF;
  font-size: 22px;
  margin-bottom: 40px;
}

.responsibly-block h2 {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  margin-bottom: 50px;
  color: #fff;
}

.years18 h2 {
  margin-bottom: 30px;
}

.anj_image {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.years18 a {
  color: orange;
  text-decoration: underline;
}

.anj_image img {
  width: 110px;
  opacity: 0.9;
}

.responsibly-block_images {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.responsibly-block_images img {
  margin: 0 auto;
}

.catfish_banner {
  display: none;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background: #283448 url(../assets/img/catfish-bg.png) no-repeat 50%;
  background-size: cover;
  position: fixed;
  z-index: 99;
  width: 100%;
  padding: 13px 20px;
}

.catfish_banner-link {
  width: calc(100% - 30px);
  display: block;
  margin-right: 10px;
}

.catfish_banner-link-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 15px;
}

.catfish_banner-img {
  margin-right: 20px;
}

.catfish_banner img {
  height: auto;
  max-width: 40px;
}

.catfish_banner-text {
  color: #fff;
  font-size: 14px;
  margin-right: 20px;
}

.catfish_banner-text p {
  font-weight: lighter;
  line-height: 22px;
}

.catfish_banner-text strong {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.catfish_banner-btn {
  background: #336af4;
  box-shadow: 1.2px 2.7px 7.5px 0.5px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  height: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-preferred-size: 91px;
  flex-basis: 91px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (min-width: 375px) {
  .catfish_banner-btn {
      -ms-flex-preferred-size: 120px;
      flex-basis: 120px;
      font-size: 14px;
  }
}

.catfish_banner-exit {
  background: url(../assets/img/X.png) no-repeat 50%;
  position: absolute;
  right: 50px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

footer {
  background: #040d20;
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
  text-align: center;
  padding: 50px 0;
  position: relative;
  overflow: hidden;
  border-top: 1px solid #8294b145;
}

footer p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}